/* ---------- front page styling ---------- */

#home {
  background-color: #F5F5F1;
  margin: 0;
}

/* .scroll-animation {
  display: none;
  position: fixed;
  bottom: 0;
  z-index: 1;
} */


.vl {
  border-left: 1px solid lightgray;
  height: 1700px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 350px;
 
}

/* -- grid layout -- */
.front-page-intro {
  padding: 100px;
  padding-bottom: 20px;
  text-align: center;
}

.grid-parent {
 display: grid;
 grid-template-columns: 1fr 1fr;
 grid-template-rows: auto auto auto auto;
 row-gap: 3em;
 column-gap: 1em;
 margin-right: 200px;
 margin-left: 200px;
  background-color: #FFF;
  padding: 50px;
}


#nude-box { 
  grid-area: 1 / 2 / 2 / 3; 
  z-index: 10; 
  width: 70%;
 justify-self: end;
}

#jewl-preview { 
  grid-area: 1 / 2 / 2 / 3; 
  z-index: 100;
  align-self: center;
  margin-right: 30px;
  width: 80%;
  justify-self: end;
}

#jewl-text { 
  grid-area: 1 / 1 / 2 / 2;
}

#beige-box { 
  grid-area: 2 / 1 / 3 / 2; 
  z-index: 10;
  width: 80%;
  justify-self: start;
}

#workshop-preview { 
  grid-area: 2 / 1 / 3 / 2; 
  z-index: 100;
  align-self: end;
  margin-bottom: 30px;
  margin-left: 30px;
  width: 80%;
}

#workshop-text {
  grid-area: 2 / 2 / 3 / 3;

}

#brown-box { 
  grid-area: 3 / 2 / 4 / 3; 
  z-index: 10;
  width: 80%;
  justify-self: end;
  
}

#story-preview { 
  grid-area: 3 / 2 / 4 / 3; 
  z-index: 100;
  align-self: start;
  margin-top: 30px;
  margin-right: 30px;
  width: 80%;
  justify-self: end;
}

#story-text { 
  grid-area: 3 / 1 / 4 / 2;
}

#nude-bottom-box { 
  grid-area: 4 / 1 / 5 / 2; 
  z-index: 10;
  width: 70%;
  justify-self: start;
}

#rep-preview { 
  grid-area: 4 / 1 / 5 / 2; 
  z-index: 100;
  align-self: end;
  margin-bottom: 30px;
  margin-left: 30px;
  width: 80%;
}

#rep-text { 
  grid-area: 4 / 2 / 5 / 3;
}

.grid-parent img,
.grid-parent p {
  width: 100%;
}
.grid-parent img {
max-width: 100%;
}

.color-box {
 height: 400px;
  
}




.front-text-left{
  margin: 0px 50px 0px 0px;
  text-align: right;
  align-self: center;
}

.front-text-right{
  margin: 0px 0px 0px 30px;
  text-align: left;
  align-self: center;
}
/* -- grid layout slut -- */

/* ---------- front styling SLUT ---------- */