.img-overlay-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.color-overlay {
  width: 100%;
  height: 100%;
  opacity: .2;
  position: absolute;
  z-index: 3000;
}

.light {
background-color: #CBCBCB;
}

.extra-light {
  background-color: #FFF;
  opacity: .3;  
}

.dark {
background-color: #575757;
}