.info-box {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

.info-flex-container{
padding-bottom: 50px;
    padding-top: 50px;
}

.info-box>div {
    font-size: 30px;
    text-align: left;
    padding-left: 50px;
    padding-bottom: 50px;
    padding-top: 50px;
}

.caption {
    font-family: 'Montserrat',Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: lighter;
    margin: 0;
    margin-bottom: 15px;
}

.title-caption {
    font-size: 12px;
font-weight: 500;
font-family: 'Montserrat', Arial, Helvetica, sans-serif;
margin-bottom: 5px;
}

#oplysninger>p:last-of-type{
font-size: 14px;
margin-bottom: 0;
}


#oplysninger {
    width: 40%;
    background-color: #484539;
    color: white;
}

/* styling af fra smykker til ide tekst */
#smykker-til-ide {
    width: 60%;
    line-height: 30px;
    padding-right: 5%;
    background-color: #E4E3D5;
display: flex;
flex-direction: column;

}

/* styling af knap */
#tilmeld {
    background-color: #484539;
    border: none;
    color: white;
    padding: 10px;
    font-size: 10px;
  width: 150px;
  margin-top: auto;
}

/* ------ Styling af infobox slut --------*/

/* Styling af Billerne og tekst */
.billeder {
    align-self: flex-start;
}

.billeder img {
    width: 100%;
    padding-top: 50px;
}

.images-container {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    flex-direction: row;
}

.images-container .billeder {
    width: 20%;
    padding-left: 50px;
    padding-top: 2%;
    margin-left: 200px;
}

.images-container .info-text {
    background-color: #E4E3D5;
    text-align: left;
    line-height: 20px;
    font-size: 20px;
    width: 40%;
    margin-top: 70px;
    padding-bottom: 150px;
    margin-left: 60px;
}

/*-------- Styling af Billerne og tekst slut --------*/


/* styling af citat sectionen */
.citat {
    height: 150px;
    background-color: #E4E3D5;
    padding-top: 70px;
    margin-top: 10%;
    margin-bottom: 10%;
}

#citat-text {
    margin-left: 30%;
    margin-right: 30%;
}

/*-------- styling af citat sectionen slut --------*/